body, html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  line-height: 1.5;
  border-top: 3px solid whitesmoke;
  background: green linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('/img/bg.jpg') no-repeat fixed center;
  background-size: cover;
}

.headline {
  margin: 0;
  padding: 0 0 10px 0;
}

.center {
  margin-top: 40vh;
  text-align: center;
}

/* FONT STYLES */
h1, h2 {
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 500px;
}

/* Media Queries */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  hr {
    width: 800px;
  }
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: normal;
  }

  hr {
    width: 1000px;
  }
}