body, html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  line-height: 1.5;
  background: #006400;
  /*fallback bg color for older browsers*/
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('/img/bg.jpg') no-repeat fixed center;
  background-size: cover;
}

/*Layout styles */
.headline {
  margin: 0;
  padding: 0 0 10px 0;
}

.center {
  margin-top: 50vh;
  text-align: center;
}

.main-nav {
  background-color: black;
  height: 80px;
}

nav {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
}

.nav-wrapper {
  text-align: center;
}

.brand {
  text-decoration: none;
}

.brand p {
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
  padding-top: 15px;
}

/* FONT STYLES */
h1, h2 {
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 500px;
}

/* Media Queries */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: normal;
  }

  hr {
    width: 700px;
  }

  .nav-wrapper {
    text-align: left;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: normal;
  }

  hr {
    width: 1000px;
  }

  .nav-wrapper {
    text-align: left;
  }
}
